/* Navbar Links */
.custom-link {
  color: green;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
}

.custom-link:hover {
  background-color: #ef4443;
  color: white;
  text-decoration: none;
}

.active {
  font-weight: bold;
  background-color: #ef4443 !important;
  color: white;
  /* text-decoration: underline; */
}

.dropdown-item {
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #ef4443;
  color: white;
}

.active.dropdown-item {
  background-color: #ef4443;
  color: white;
  font-weight: bold;
}
